# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

In [3]:
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

### Step 4. How many products cost more than $10.00?

In [0]:
chipo.item_price=chipo.item_price.replace(regex={r'^\$':''})

In [5]:
chipo.head()

   order_id  ...  item_price
0         1  ...       2.39
1         1  ...       3.39
2         1  ...       3.39
3         1  ...       2.39
4         2  ...      16.98

[5 rows x 5 columns]

In [0]:
chipo.item_price=chipo.item_price.astype(float)

In [7]:
chipo.head()

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98

[5 rows x 5 columns]

In [8]:
chipo[chipo.item_price>10]

      order_id  ...  item_price
4            2  ...       16.98
5            3  ...       10.98
7            4  ...       11.75
13           7  ...       11.25
23          12  ...       10.98
...        ...  ...         ...
4610      1830  ...       11.75
4611      1830  ...       11.25
4617      1833  ...       11.75
4618      1833  ...       11.75
4619      1834  ...       11.25

[1130 rows x 5 columns]

In [9]:
len(chipo[chipo.item_price>10])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [0]:
tmp=chipo[chipo.item_price>10]

In [13]:
tmp[['item_name','item_price']]

               item_name  item_price
4           Chicken Bowl       16.98
5           Chicken Bowl       10.98
7          Steak Burrito       11.75
13          Chicken Bowl       11.25
23       Chicken Burrito       10.98
...                  ...         ...
4610       Steak Burrito       11.75
4611      Veggie Burrito       11.25
4617       Steak Burrito       11.75
4618       Steak Burrito       11.75
4619  Chicken Salad Bowl       11.25

[1130 rows x 2 columns]

### Step 6. Sort by the name of the item

In [14]:
chipo.sort_values(by='item_name')

      order_id  ...  item_price
3389      1360  ...       12.98
341        148  ...        6.49
1849       749  ...        6.49
1860       754  ...        6.49
2713      1076  ...        6.49
...        ...  ...         ...
2384       948  ...        8.75
781        322  ...        8.75
2851      1132  ...        8.49
1699       688  ...       11.25
1395       567  ...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [18]:
chipo.sort_values(by='item_price', ascending=False)[['item_name','quantity']]

                         item_name  quantity
3598  Chips and Fresh Tomato Salsa        15
3480                 Carnitas Bowl         3
1254               Chicken Burrito         4
3602               Chicken Burrito         4
3601                Veggie Burrito         3
...                            ...       ...
3936                   Canned Soda         1
2922                 Bottled Water         1
1396                   Canned Soda         1
2562                   Canned Soda         1
1457                   Canned Soda         1

[4622 rows x 2 columns]

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [19]:
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [21]:
chipo[chipo.item_name=='Veggie Bowl']

      order_id  ...  item_price
62          28  ...       11.25
85          38  ...        8.49
143         64  ...       11.25
157         71  ...       11.25
164         74  ...        8.49
...        ...  ...         ...
4282      1708  ...       11.25
4315      1721  ...        8.75
4336      1731  ...       11.25
4452      1775  ...       11.25
4468      1780  ...       11.25

[85 rows x 5 columns]

In [22]:
chipo[chipo.item_name=='Veggie Bowl'].count()

order_id              85
quantity              85
item_name             85
choice_description    85
item_price            85
dtype: int64

### Step 9. How many times people orderd more than one Canned Soda?

In [29]:
chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)]

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [30]:
chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64