# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [0]:
euro12=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv")

In [3]:
euro12.head()

             Team  Goals  Shots on target  ...  Subs on Subs off Players Used
0         Croatia      4               13  ...        9        9           16
1  Czech Republic      4               13  ...       11       11           19
2         Denmark      4               10  ...        7        7           15
3         England      5               11  ...       11       11           16
4          France      3               22  ...       11       11           19

[5 rows x 35 columns]

In [4]:
euro12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.4+ KB

In [5]:
euro12.describe().T

                            count         mean  ...      75%     max
Goals                        16.0     4.750000  ...     5.25    12.0
Shots on target              16.0    17.125000  ...    22.00    42.0
Shots off target             16.0    24.937500  ...    32.25    45.0
Total shots (inc. Blocked)   16.0    54.937500  ...    68.75   110.0
Hit Woodwork                 16.0     1.250000  ...     2.00     6.0
Penalty goals                16.0     0.187500  ...     0.00     1.0
Penalties not scored         16.0     0.062500  ...     0.00     1.0
Headed goals                 16.0     1.375000  ...     2.00     3.0
Passes                       16.0  1763.375000  ...  1934.75  4317.0
Passes completed             16.0  1467.375000  ...  1546.50  3820.0
Touches                      16.0  2579.187500  ...  2921.25  5585.0
Crosses                      16.0    57.187500  ...    62.25   101.0
Dribbles                     16.0    52.312500  ...    65.00   106.0
Corners Taken                16.0    21.562500  ...    28.50    44.0
Tackles                      16.0    68.375000  ...    80.00   122.0
Clearances                   16.0    86.375000  ...    99.00   137.0
Interceptions                16.0    63.562500  ...    73.75   136.0
Clearances off line          15.0     0.333333  ...     0.50     2.0
Clean Sheets                 16.0     1.062500  ...     1.25     5.0
Blocks                       16.0    12.562500  ...    13.50    29.0
Goals conceded               16.0     4.750000  ...     6.00     9.0
Saves made                   16.0    12.125000  ...    13.50    22.0
Fouls Won                    16.0    52.937500  ...    64.00   102.0
Fouls Conceded               16.0    55.625000  ...    64.75    90.0
Offsides                     16.0     8.125000  ...    11.25    19.0
Yellow Cards                 16.0     7.437500  ...     9.00    16.0
Red Cards                    16.0     0.187500  ...     0.00     1.0
Subs on                      16.0    10.875000  ...    12.50    18.0
Subs off                     16.0    10.875000  ...    12.50    18.0
Players Used                 16.0    17.250000  ...    18.25    20.0

[30 rows x 8 columns]

### Step 4. Select only the Goal column.

In [6]:
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [7]:
euro12.Team.count()

16

In [10]:
len(euro12.Team.unique())

16

### Step 6. What is the number of columns in the dataset?

In [11]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [0]:
discipline=euro12[['Team','Yellow Cards', 'Red Cards']]

In [14]:
discipline.head()

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0
3         England             5          0
4          France             6          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [15]:
discipline.sort_values(by=['Red Cards', 'Yellow Cards'])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

### Step 9. Calculate the mean Yellow Cards given per Team

In [16]:
discipline.groupby(by='Team')['Yellow Cards'].mean()

Team
Croatia                 9
Czech Republic          7
Denmark                 4
England                 5
France                  6
Germany                 4
Greece                  9
Italy                  16
Netherlands             5
Poland                  7
Portugal               12
Republic of Ireland     6
Russia                  6
Spain                  11
Sweden                  7
Ukraine                 5
Name: Yellow Cards, dtype: int64

### Step 10. Filter teams that scored more than 6 goals

In [19]:
euro12[euro12['Goals']>6]['Team']

5     Germany
13      Spain
Name: Team, dtype: object

### Step 11. Select the teams that start with G

In [28]:
euro12[euro12.Team.str.startswith('G')]['Team']

5    Germany
6     Greece
Name: Team, dtype: object

### Step 12. Select the first 7 columns

In [29]:
euro12.iloc[:,:7]

                   Team  Goals  ...  % Goals-to-shots  Total shots (inc. Blocked)
0               Croatia      4  ...             16.0%                          32
1        Czech Republic      4  ...             12.9%                          39
2               Denmark      4  ...             20.0%                          27
3               England      5  ...             17.2%                          40
4                France      3  ...              6.5%                          65
5               Germany     10  ...             15.6%                          80
6                Greece      5  ...             19.2%                          32
7                 Italy      6  ...              7.5%                         110
8           Netherlands      2  ...              4.1%                          60
9                Poland      2  ...              5.2%                          48
10             Portugal      6  ...              9.3%                          82
11  Republic of Ireland      1  ...              5.2%                          28
12               Russia      5  ...             12.5%                          59
13                Spain     12  ...             16.0%                         100
14               Sweden      5  ...             13.8%                          39
15              Ukraine      2  ...              6.0%                          38

[16 rows x 7 columns]

### Step 13. Select all columns except the last 3.

In [30]:
euro12.iloc[:,:-3]

                   Team  Goals  ...  Yellow Cards  Red Cards
0               Croatia      4  ...             9          0
1        Czech Republic      4  ...             7          0
2               Denmark      4  ...             4          0
3               England      5  ...             5          0
4                France      3  ...             6          0
5               Germany     10  ...             4          0
6                Greece      5  ...             9          1
7                 Italy      6  ...            16          0
8           Netherlands      2  ...             5          0
9                Poland      2  ...             7          1
10             Portugal      6  ...            12          0
11  Republic of Ireland      1  ...             6          1
12               Russia      5  ...             6          0
13                Spain     12  ...            11          0
14               Sweden      5  ...             7          0
15              Ukraine      2  ...             5          0

[16 rows x 32 columns]

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [32]:
euro12[euro12.Team.isin(['England','Italy','Russia'])][['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%