![sslogo](https://github.com/stratascratch/stratascratch.github.io/raw/master/assets/sslogo.jpg)

 # Datetime Package Solutions

### Import the datetime package.

The documentation for this package is available at:
- https://docs.python.org/3.7/library/datetime.html

In [0]:
import datetime as dt

Use ipython magic to see function options. Type datetime. and press tab.  Highlight time and press enter.  Hit shift-tab

In [2]:
dt.time

datetime.time

### Create an instance of a time.

The arguments are hour, minute, second, microsecond in order. If you do not supply a value of 0 is assumed as the default. You can call dt.time() with no arguments to get 00:00:00

In [3]:
print("1 Hour")
print (dt.time(1))

print("2 and a half hour")
print(dt.time(2, 30))

print("3 hours, 45 minutes and 30 seconds")
print(dt.time(3, 45, 30))

1 Hour
01:00:00
2 and a half hour
02:30:00
3 hours, 45 minutes and 30 seconds
03:45:30

### Use the `dt.datetime.now` function to get the current datetime stamp.

In [4]:
ts_now = dt.datetime.now()
print(ts_now)

2019-12-29 19:46:56.547084

Extract the day from the timestamp

In [5]:
print(ts_now.day)

29

Extract some other datetime elements

In [6]:
print (ts_now.year)
print (ts_now.month)
print (ts_now.minute)
print (ts_now.second)
print (ts_now.microsecond)

2019
12
46
56
547084

Create a timestamp for Christmas.

Unlike the time object which can have all 0 values the datetime object must have at least year, month and day defined.

In [7]:
ts_xmas = dt.datetime(2018,12,25)
print (ts_xmas)

2018-12-25 00:00:00

### Do math with the timestamps.

You can substract two points in time to get a dt.timedelta object which describes how far apart are they in number of days and hours.

In [8]:
ts_diff = ts_xmas - ts_now
print (ts_diff)
print (type(ts_diff))

-370 days, 4:13:03.452916
<class 'datetime.timedelta'>

You can also create a timedelta value manually and add it some datetime object.

For example to find out what day it will be in 45 days and 13 hours we can do:

In [9]:
today = dt.datetime.now()

offset = dt.timedelta(days=45, hours=13)

print(today + offset)

2020-02-13 08:52:58.453139

### Convert a string to datetime.

To convert a string into a datetime we need to know the format of the string.
In this example we show how to use with formats "day/month/year" and "month-day-year".

The function of importance here is `strptime` in `dt.datetime` which is short for **str**ing **p**arse **time**.

Its first argument is the datetime as a string and the second argument is the format.

The formatting language is explained at:
- https://docs.python.org/3.7/library/datetime.html#strftime-strptime-behavior

In Short:
- %Y stands for year
- %d stands for day
- %m stands for month
- %H stands for hour
- %M stands for minute
- %S stands for second
- Everything without % before it stays as it was (e.g. analytics data %Y-%m-%d is a valid format string)

In [10]:
date_str = "01-10-2015"
date_ts = dt.datetime.strptime(date_str,"%m-%d-%Y")
print (date_ts)
print("---------------------------")

date_str = "10/01/2015"
date_ts = dt.datetime.strptime(date_str,"%d/%m/%Y")
print (date_ts)

print("---------------------------")
print (type(date_ts))

2015-01-10 00:00:00
---------------------------
2015-01-10 00:00:00
---------------------------
<class 'datetime.datetime'>

### Convert a datetime object to a string

We can use the parsing procedure in reverse. 

To convert a datetime as a string we use strftime with f standing for format.

First argument is the datetime to convert to string and second is format string.

The formatting language still remains the same.

In [0]:
new_date_str = dt.datetime.strftime(date_ts, "%H:%M:%S %m-%d-%Y")
print (new_date_str)
print (type(new_date_str))

00:00:00 01-10-2015
<class 'str'>

### Exercises

#### 1. Create a variable called future with a datetime value of January 20, 2019 at 12:00pm

In [21]:
future = dt.datetime(2019,1,20,12)
print (future)

2019-01-20 12:00:00

In [22]:
type(future)

datetime.datetime

In [24]:
future.strftime("%B %d, %Y, %r")

'January 20, 2019, 12:00:00 PM'

#### 2. Create a variable with a timedelta equal to the difference between future and now

In [26]:
today = dt.datetime.now()

offset = dt.timedelta(days=45, hours=13)

dtx=today + offset
dtx

datetime.datetime(2020, 2, 13, 9, 21, 35, 455211)

#### 3. Print the number of seconds from the timedelta

In [30]:
dtx.second

35

#### 4. Convert the following string into a datetime object

'Jan 20, 2017 5pm'

In [33]:
stringtime="Jan 20, 2017 5pm"
dtx=dt.datetime.strptime(stringtime,"%b %d, %Y %H%p")
dtx

datetime.datetime(2017, 1, 20, 5, 0)

In [35]:
dtx.date()

datetime.date(2017, 1, 20)

**5. You are given a list of dates. Find the date which is oldest. Print the number of seconds passed since that date to today**

For example.

datetime_list = ['25.08.1995 00:00:00', '22.07.1999 00:00:00', '01.01.2001 13:42:59', '13.12.2011 01:02:03']

Oldest date is '25.08.1995 00:00:00'

You also need to find the format yourself.

Hint: You can get each datetime as total seconds since 1 AD and compare these values to find oldest date

In [0]:
datetime_list = ['25.08.1995 00:00:00', '22.07.1999 00:00:00', '01.01.2001 13:42:59', '13.12.2011 01:02:03']

In [43]:
import numpy as np
dtx=[]
for dtxstr in datetime_list:
  dtx.append(dt.datetime.strptime(dtxstr, "%d.%m.%Y %H:%M:%S"))

dtx=np.array(dtx)
dtx.astype(np.datetime64)
dtx.min()

datetime.datetime(1995, 8, 25, 0, 0)

In [44]:
dtx.max()

datetime.datetime(2011, 12, 13, 1, 2, 3)

#### Bonus: 
Try converting strings to datetime objects and datetime objects back to strings.  What are some interesting datetime formats you can find in the documentation?

In [0]:
example = dt.datetime(2017,12,15,17,30)

In [47]:
example.strftime("%B %d, %Y, %r")

'December 15, 2017, 05:30:00 PM'