In [8]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/insaid2018/CDF-Certification-Quiz-Data/master/Abalone/02-Data.csv")

In [9]:
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Adult
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,1
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,0
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,1
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,1
4,M,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,0

In [10]:
df=pd.get_dummies(df, columns=['Sex'])

In [11]:
df

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Adult,Sex_F,Sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,1,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,0,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,1,1,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,1,0,1
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,0,0,1
...,...,...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,1,1,0
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,1,0,1
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,1,0,1
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,1,1,0
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,1,0,1

In [13]:
df.drop('Sex_M', axis=1, inplace=True)

In [14]:
X=df.loc[:,df.columns!='Adult']
y=df.Adult

In [15]:
X.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,1
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,0

In [16]:
y.head()

0    1
1    0
2    1
3    1
4    0
Name: Adult, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=3)

In [18]:
X_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F
1411,0.67,0.530,0.225,1.5615,0.6300,0.4870,0.3725,1
2826,0.50,0.365,0.130,0.5945,0.3090,0.1085,0.1535,0
116,0.49,0.375,0.135,0.6125,0.2555,0.1020,0.2200,1
3434,0.37,0.280,0.090,0.2565,0.1255,0.0645,0.0645,1
1037,0.66,0.535,0.190,1.5905,0.6425,0.2970,0.5175,0

In [19]:
X_test.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F
2686,0.63,0.505,0.150,1.3165,0.6325,0.2465,0.3700,0
202,0.50,0.400,0.145,0.6300,0.2340,0.1465,0.2300,1
1200,0.72,0.550,0.200,1.9965,0.9035,0.4690,0.5215,1
2840,0.59,0.485,0.155,1.0785,0.4535,0.2435,0.3100,0
3760,0.53,0.425,0.130,0.7020,0.2975,0.1395,0.2200,0

In [20]:
y_train.head()

1411    1
2826    1
116     1
3434    0
1037    1
Name: Adult, dtype: int64

In [21]:
y_test.head()

2686    1
202     1
1200    1
2840    1
3760    1
Name: Adult, dtype: int64

In [22]:
X_train.shape

(2923, 8)

In [23]:
y_train.shape

(2923,)

In [24]:
X_test.shape

(1254, 8)

In [25]:
y_test.shape

(1254,)

In [26]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [27]:
logreg.fit(X_train, y_train)

C:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
y_pred_train=logreg.predict(X_train)

In [31]:
y_pred_train

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [32]:
y_pred_test=logreg.predict(X_test)

In [33]:
y_pred_test

array([1, 1, 1, ..., 0, 1, 1], dtype=int64)

In [34]:
from sklearn.metrics import accuracy_score
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))
print('Accuracy score for train data is:', accuracy_score(y_train,y_pred_train))

Accuracy score for test data is: 0.8189792663476874
Accuracy score for train data is: 0.8344166951761889

In [35]:
#Erorr on test data
1-0.8189792663476874

0.18102073365231264

In [36]:
#Erorr on train data
1-0.8344166951761889

0.16558330482381112

In [37]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

confusion_matrix.index = ['Actual No_Deposit','Actual Deposit']
confusion_matrix.columns = ['Predicted No_Deposit','Predicted Deposit']
    
confusion_matrix

                   Predicted No_Deposit  Predicted Deposit
Actual No_Deposit                   292                146
Actual Deposit                       81                735

In [38]:
specifity=735/(735+81)
specifity

0.9007352941176471

In [39]:
Sensitivity=292/(292+146)
Sensitivity

0.6666666666666666