# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [0]:
data=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data", sep="\s+", parse_dates=[[0,1,2]])

In [18]:
data.head()

    Yr_Mo_Dy    RPT    VAL    ROS    KIL  ...    CLA    MUL    CLO    BEL    MAL
0 2061-01-01  15.04  14.96  13.17   9.29  ...  10.25  10.83  12.58  18.50  15.04
1 2061-01-02  14.71    NaN  10.83   6.50  ...  10.04   9.79   9.67  17.54  13.83
2 2061-01-03  18.50  16.88  12.33  10.13  ...    NaN   8.50   7.67  12.75  12.71
3 2061-01-04  10.58   6.63  11.75   4.58  ...   1.79   5.83   5.88   5.46  10.88
4 2061-01-05  13.33  13.25  11.42   6.17  ...   6.54  10.92  10.34  12.92  11.83

[5 rows x 13 columns]

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
Yr_Mo_Dy    6574 non-null datetime64[ns]
RPT         6568 non-null float64
VAL         6571 non-null float64
ROS         6572 non-null float64
KIL         6569 non-null float64
SHA         6572 non-null float64
BIR         6574 non-null float64
DUB         6571 non-null float64
CLA         6572 non-null float64
MUL         6571 non-null float64
CLO         6573 non-null float64
BEL         6574 non-null float64
MAL         6570 non-null float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

In [20]:
data.isnull().sum()

Yr_Mo_Dy    0
RPT         6
VAL         3
ROS         2
KIL         5
SHA         2
BIR         0
DUB         3
CLA         2
MUL         3
CLO         1
BEL         0
MAL         4
dtype: int64

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [23]:
data.Yr_Mo_Dy.dt.year

0       2061
1       2061
2       2061
3       2061
4       2061
        ...
6569    1978
6570    1978
6571    1978
6572    1978
6573    1978
Name: Yr_Mo_Dy, Length: 6574, dtype: int64

In [27]:
data.Yr_Mo_Dy.dtype

dtype('<M8[ns]')

In [0]:
import datetime

In [0]:
def change_date(x):
  year = x.year - 100 if x.year > 2018 else x.year
  return datetime.date(year, x.month, x.day)

In [0]:
data.Yr_Mo_Dy=data.Yr_Mo_Dy.apply(change_date)

In [35]:
data.head()

     Yr_Mo_Dy    RPT    VAL    ROS    KIL  ...    CLA    MUL    CLO    BEL    MAL
0  1961-01-01  15.04  14.96  13.17   9.29  ...  10.25  10.83  12.58  18.50  15.04
1  1961-01-02  14.71    NaN  10.83   6.50  ...  10.04   9.79   9.67  17.54  13.83
2  1961-01-03  18.50  16.88  12.33  10.13  ...    NaN   8.50   7.67  12.75  12.71
3  1961-01-04  10.58   6.63  11.75   4.58  ...   1.79   5.83   5.88   5.46  10.88
4  1961-01-05  13.33  13.25  11.42   6.17  ...   6.54  10.92  10.34  12.92  11.83

[5 rows x 13 columns]

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [0]:
data.set_index('Yr_Mo_Dy',drop=True, inplace=True)

In [37]:
data.head()

              RPT    VAL    ROS    KIL  ...    MUL    CLO    BEL    MAL
Yr_Mo_Dy                                ...
1961-01-01  15.04  14.96  13.17   9.29  ...  10.83  12.58  18.50  15.04
1961-01-02  14.71    NaN  10.83   6.50  ...   9.79   9.67  17.54  13.83
1961-01-03  18.50  16.88  12.33  10.13  ...   8.50   7.67  12.75  12.71
1961-01-04  10.58   6.63  11.75   4.58  ...   5.83   5.88   5.46  10.88
1961-01-05  13.33  13.25  11.42   6.17  ...  10.92  10.34  12.92  11.83

[5 rows x 12 columns]

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [39]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [41]:
data.count()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6574 entries, 1961-01-01 to 1978-12-31
Data columns (total 12 columns):
RPT    6568 non-null float64
VAL    6571 non-null float64
ROS    6572 non-null float64
KIL    6569 non-null float64
SHA    6572 non-null float64
BIR    6574 non-null float64
DUB    6571 non-null float64
CLA    6572 non-null float64
MUL    6571 non-null float64
CLO    6573 non-null float64
BEL    6574 non-null float64
MAL    6570 non-null float64
dtypes: float64(12)
memory usage: 987.7+ KB

In [44]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [45]:
data.head()

              RPT    VAL    ROS    KIL  ...    MUL    CLO    BEL    MAL
Yr_Mo_Dy                                ...
1961-01-01  15.04  14.96  13.17   9.29  ...  10.83  12.58  18.50  15.04
1961-01-02  14.71    NaN  10.83   6.50  ...   9.79   9.67  17.54  13.83
1961-01-03  18.50  16.88  12.33  10.13  ...   8.50   7.67  12.75  12.71
1961-01-04  10.58   6.63  11.75   4.58  ...   5.83   5.88   5.46  10.88
1961-01-05  13.33  13.25  11.42   6.17  ...  10.92  10.34  12.92  11.83

[5 rows x 12 columns]

In [47]:
data.fillna(0).values.flatten() # all data in 1-D array

array([15.04, 14.96, 13.17, ..., 11.38, 12.08, 22.08])

In [48]:
data.fillna(0).values.flatten().mean()

10.223864592840483

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [49]:
data.describe()

               RPT          VAL  ...          BEL          MAL
count  6568.000000  6571.000000  ...  6574.000000  6570.000000
mean     12.362987    10.644314  ...    13.121007    15.599079
std       5.618413     5.267356  ...     5.835037     6.699794
min       0.670000     0.210000  ...     0.130000     0.670000
25%       8.120000     6.670000  ...     8.710000    10.710000
50%      11.710000    10.170000  ...    12.500000    15.000000
75%      15.920000    14.040000  ...    16.880000    19.830000
max      35.800000    33.370000  ...    42.380000    42.540000

[8 rows x 12 columns]

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [50]:
day_stats = pd.DataFrame()

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

day_stats.head()

             min    max       mean       std
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [0]:
tmp=day_stats.copy()

In [0]:
tmp.reset_index(inplace=True)

In [0]:
tmp.Yr_Mo_Dy=pd.to_datetime(tmp.Yr_Mo_Dy)

In [63]:
tmp.dtypes

Yr_Mo_Dy    datetime64[ns]
min                float64
max                float64
mean               float64
std                float64
dtype: object

In [64]:
tmp[tmp.Yr_Mo_Dy.dt.month==1]

       Yr_Mo_Dy    min    max       mean       std
0    1961-01-01   9.29  18.50  13.018182  2.808875
1    1961-01-02   6.50  17.54  11.336364  3.188994
2    1961-01-03   6.17  18.50  11.641818  3.681912
3    1961-01-04   1.79  11.75   6.619167  3.198126
4    1961-01-05   6.17  13.33  10.630000  2.445356
...         ...    ...    ...        ...       ...
6235 1978-01-27   6.42  24.87  11.828333  5.386441
6236 1978-01-28  15.04  35.83  23.921667  8.431564
6237 1978-01-29  13.75  38.20  21.790000  7.109222
6238 1978-01-30   2.71  12.83   7.245000  3.060581
6239 1978-01-31   4.42  17.37   8.315833  3.490508

[558 rows x 5 columns]

In [65]:
tmp[tmp.Yr_Mo_Dy.dt.month==1].mean()

min      6.314964
max     19.779946
mean    11.792825
std      4.065575
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [67]:
data.head(1)

              RPT    VAL    ROS   KIL  SHA  ...    CLA    MUL    CLO   BEL    MAL
Yr_Mo_Dy                                    ...
1961-01-01  15.04  14.96  13.17  9.29  NaN  ...  10.25  10.83  12.58  18.5  15.04

[1 rows x 12 columns]

In [0]:
data.index=pd.to_datetime(data.index)

In [77]:
data.groupby(data.index.to_period('A')).mean()

                RPT        VAL        ROS  ...        CLO        BEL        MAL
Yr_Mo_Dy                                   ...
1961      12.299583  10.351796  11.362369  ...   9.835577  13.502795  13.680773
1962      12.246923  10.110438  11.732712  ...   9.676247  12.930685  14.323956
1963      12.813452  10.836986  12.541151  ...  10.224438  13.638877  14.999014
1964      12.363661  10.920164  12.104372  ...  10.207951  13.740546  14.910301
1965      12.451370  11.075534  11.848767  ...   9.918082  12.964247  15.591644
1966      13.461973  11.557205  12.020630  ...   9.768959  14.265836  16.307260
1967      12.737151  10.990986  11.739397  ...   9.547425  14.774548  17.135945
1968      11.835628  10.468197  11.409754  ...   7.832978  12.808634  15.017486
1969      11.166356   9.723699  10.902000  ...   7.754384  12.621233  15.762904
1970      12.600329  10.726932  11.730247  ...   8.289808  13.183644  16.456027
1971      11.273123   9.095178  11.088329  ...   7.229753  12.208932  15.025233
1972      12.463962  10.561311  12.058333  ...   7.515273  12.727377  15.028716
1973      11.828466  10.680493  10.680493  ...   7.812411  12.169699  15.441096
1974      13.643096  11.811781  12.336356  ...   8.736356  13.252959  16.947671
1975      12.008575  10.293836  11.564712  ...   7.382822  12.631671  15.307863
1976      11.737842  10.203115  10.761230  ...   7.883087  12.332377  15.471448
1977      13.099616  11.144493  12.627836  ...   8.821616  13.459068  16.590849
1978      12.504356  11.044274  11.380000  ...   8.301699  12.967397  16.771370

[18 rows x 12 columns]

### Step 13. Downsample the record to a monthly frequency for each location.

In [78]:
data.groupby(data.index.to_period('M')).mean()

                RPT        VAL        ROS  ...        CLO        BEL        MAL
Yr_Mo_Dy                                   ...
1961-01   14.841333  11.988333  13.431613  ...  10.107419  13.880968  14.703226
1961-02   16.269286  14.975357  14.441481  ...  12.714286  18.583214  15.411786
1961-03   10.890000  11.296452  10.752903  ...  11.251935  16.410968  15.720000
1961-04   10.722667   9.427667   9.998000  ...   7.237000  11.147333  10.278333
1961-05    9.860968   8.850000  10.818065  ...   8.499355  11.900323  12.011613
...             ...        ...        ...  ...        ...        ...        ...
1978-08    9.645161   8.259355   9.032258  ...   5.536774  10.466774  12.054194
1978-09   10.913667  10.895000  10.635000  ...   8.939000  15.680333  19.391333
1978-10    9.897742   8.670968   9.295806  ...   8.243871  13.776774  17.150000
1978-11   16.151667  14.802667  13.508000  ...  10.676000  17.404667  20.723000
1978-12   16.175484  13.748065  15.635161  ...  11.028710  13.859677  21.371613

[216 rows x 12 columns]

### Step 14. Downsample the record to a weekly frequency for each location.

In [79]:
data.groupby(data.index.to_period('W')).mean()

                             RPT        VAL  ...        BEL        MAL
Yr_Mo_Dy                                     ...
1960-12-26/1961-01-01  15.040000  14.960000  ...  18.500000  15.040000
1961-01-02/1961-01-08  13.541429  11.486667  ...  12.481429  13.238571
1961-01-09/1961-01-15  12.468571   8.967143  ...  11.125714  11.024286
1961-01-16/1961-01-22  13.204286   9.862857  ...   9.821429  11.434286
1961-01-23/1961-01-29  19.880000  16.141429  ...  20.930000  22.530000
...                          ...        ...  ...        ...        ...
1978-11-27/1978-12-03  14.934286  11.232857  ...  11.835714  18.728571
1978-12-04/1978-12-10  20.740000  19.190000  ...  18.517143  23.061429
1978-12-11/1978-12-17  16.758571  14.692857  ...  11.102857  15.562857
1978-12-18/1978-12-24  11.155714   8.008571  ...  11.845714  18.977143
1978-12-25/1978-12-31  14.951429  11.801429  ...  12.947143  26.844286

[940 rows x 12 columns]

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [80]:
data.resample('W').agg(['min','max','mean','std'])

              RPT                    ...    MAL
              min    max       mean  ...    max       mean        std
Yr_Mo_Dy                             ...
1961-01-01  15.04  15.04  15.040000  ...  15.04  15.040000        NaN
1961-01-08  10.58  18.50  13.541429  ...  16.46  13.238571   1.773062
1961-01-15   9.04  19.75  12.468571  ...  16.92  11.024286   4.692355
1961-01-22   4.92  19.83  13.204286  ...  17.96  11.434286   4.237239
1961-01-29  13.62  25.04  19.880000  ...  27.63  22.530000   3.874721
...           ...    ...        ...  ...    ...        ...        ...
1978-12-03   9.08  21.29  14.934286  ...  25.75  18.728571   6.393188
1978-12-10   9.92  29.33  20.740000  ...  34.59  23.061429   8.093976
1978-12-17   9.87  23.13  16.758571  ...  22.83  15.562857   6.005594
1978-12-24   6.21  16.62  11.155714  ...  31.71  18.977143   7.194108
1978-12-31   7.21  20.33  14.951429  ...  41.46  26.844286  11.621233

[940 rows x 48 columns]

In [81]:
weekly=data.resample('W').agg(['min','max','mean','std'])

weekly.loc[weekly.index[1:53]]

              RPT                    ...    MAL
              min    max       mean  ...    max       mean       std
Yr_Mo_Dy                             ...
1961-01-08  10.58  18.50  13.541429  ...  16.46  13.238571  1.773062
1961-01-15   9.04  19.75  12.468571  ...  16.92  11.024286  4.692355
1961-01-22   4.92  19.83  13.204286  ...  17.96  11.434286  4.237239
1961-01-29  13.62  25.04  19.880000  ...  27.63  22.530000  3.874721
1961-02-05  10.58  24.21  16.827143  ...  19.25  11.935714  4.336104
1961-02-12  16.00  24.54  19.684286  ...  21.84  19.155714  1.828705
1961-02-19   6.04  22.50  15.130000  ...  22.58  16.584286  4.685377
1961-02-26   7.79  25.80  15.221429  ...  23.87  14.322857  6.182283
1961-03-05  10.96  13.33  12.101429  ...  17.54  13.951667  3.021387
1961-03-12   4.88  14.79   9.376667  ...  22.54  14.420000  5.769890
1961-03-19   4.92  16.88  11.911429  ...  22.95  16.227143  4.331958
1961-03-26   6.29  15.00   9.567143  ...  22.50  18.134286  3.701846
1961-04-02   5.88  18.25  10.757143  ...  19.58  13.900000  3.924555
1961-04-09   4.50  18.12  11.964286  ...  15.34  11.371429  2.598271
1961-04-16   4.71  15.50   8.965714  ...  12.87   8.690000  2.747842
1961-04-23   4.00  21.09  12.621429  ...  20.46  12.470000  5.908542
1961-04-30   4.08  16.29  10.117143  ...  17.50   8.637143  5.108365
1961-05-07   9.87  23.00  15.367143  ...  26.58  14.571429  7.728504
1961-05-14   3.54  12.79   7.772857  ...  26.30  10.382857  7.858246
1961-05-21   4.88  15.04   8.225714  ...  14.96  10.612857  3.310819
1961-05-28   4.96  11.79   8.155714  ...  17.04  11.697143  3.811818
1961-06-04   7.00  15.92  10.321429  ...  17.96  13.597143  2.593586
1961-06-11   8.29  14.42  10.917143  ...  19.83  12.250000  4.925055
1961-06-18   6.13  14.33  10.571429  ...  24.71  15.025714  6.242673
1961-06-25   4.00   9.00   7.345714  ...  21.50  17.410000  3.063011
1961-07-02   7.21  13.13  10.236667  ...  16.79  12.133333  3.652313
1961-07-09   7.29  17.50  11.715714  ...  21.29  15.987143  3.665705
1961-07-16   8.63  22.50  16.680000  ...  21.96  12.524286  4.974273
1961-07-23   3.04   5.88   4.202857  ...  10.92   8.415714  2.133994
1961-07-30   6.13  16.08  10.561429  ...  25.37  13.761429  6.664574
1961-08-06   7.67  16.08  10.870000  ...  20.25  13.760000  4.448251
1961-08-13   2.88  14.21  10.058333  ...  15.16  10.125714  3.356585
1961-08-20  13.13  18.91  15.607143  ...  24.30  16.626667  3.934238
1961-08-27   7.67  18.16  12.391429  ...  22.29  16.485714  4.947608
1961-09-03   3.63  14.46   8.678571  ...  22.54  11.022857  6.308087
1961-09-10   5.00  17.62  10.541429  ...  20.25  11.034286  6.049619
1961-09-17   5.33  28.75  17.160000  ...  33.09  18.984286  6.332885
1961-09-24   6.92  10.25   8.500000  ...  14.62   9.814286  3.113507
1961-10-01  10.34  23.21  16.044286  ...  17.16  13.338571  4.696504
1961-10-08   3.13  16.08  11.250000  ...  19.62  11.410000  5.462002
1961-10-15   3.71  17.12  10.881667  ...  21.04  15.260000  4.098130
1961-10-22  10.46  28.62  19.260000  ...  33.45  23.641429  7.468377
1961-10-29   4.33  26.42  16.077143  ...  30.88  18.404286  8.340881
1961-11-05   5.88  15.79  11.571429  ...  23.58  19.195714  3.870800
1961-11-12   5.46  16.08  10.428571  ...  15.54  10.858571  3.690752
1961-11-19   7.50  15.00  10.798571  ...  13.25   5.737143  3.787654
1961-11-26   5.75  14.29   9.154286  ...  22.58  12.732857  6.475867
1961-12-03   7.92  23.75  12.608571  ...  21.29  14.725714  5.233192
1961-12-10  10.83  23.71  17.362857  ...  29.33  16.241429  7.345893
1961-12-17   9.29  21.34  14.985714  ...  21.12  14.644286  5.665006
1961-12-24  11.46  24.41  15.757143  ...  16.62   8.164286  5.048035
1961-12-31   5.04  20.54  13.634286  ...  15.21  12.840000  3.012729

[52 rows x 48 columns]