# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [0]:
df=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv")

In [44]:
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [46]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [47]:
df.describe().T

            count       mean       std   min   25%   50%   75%   max
age         395.0  16.696203  1.276043  15.0  16.0  17.0  18.0  22.0
Medu        395.0   2.749367  1.094735   0.0   2.0   3.0   4.0   4.0
Fedu        395.0   2.521519  1.088201   0.0   2.0   2.0   3.0   4.0
traveltime  395.0   1.448101  0.697505   1.0   1.0   1.0   2.0   4.0
studytime   395.0   2.035443  0.839240   1.0   1.0   2.0   2.0   4.0
failures    395.0   0.334177  0.743651   0.0   0.0   0.0   0.0   3.0
famrel      395.0   3.944304  0.896659   1.0   4.0   4.0   5.0   5.0
freetime    395.0   3.235443  0.998862   1.0   3.0   3.0   4.0   5.0
goout       395.0   3.108861  1.113278   1.0   2.0   3.0   4.0   5.0
Dalc        395.0   1.481013  0.890741   1.0   1.0   1.0   2.0   5.0
Walc        395.0   2.291139  1.287897   1.0   1.0   2.0   3.0   5.0
health      395.0   3.554430  1.390303   1.0   3.0   4.0   5.0   5.0
absences    395.0   5.708861  8.003096   0.0   0.0   4.0   8.0  75.0
G1          395.0  10.908861  3.319195   3.0   8.0  11.0  13.0  19.0
G2          395.0  10.713924  3.761505   0.0   9.0  11.0  13.0  19.0
G3          395.0  10.415190  4.581443   0.0   8.0  11.0  14.0  20.0

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [0]:
first_df=df.loc[:,'school':'guardian']

In [49]:
first_df.head()

  school sex  age address famsize  ... Fedu     Mjob      Fjob  reason guardian
0     GP   F   18       U     GT3  ...    4  at_home   teacher  course   mother
1     GP   F   17       U     GT3  ...    1  at_home     other  course   father
2     GP   F   15       U     LE3  ...    1  at_home     other   other   mother
3     GP   F   15       U     GT3  ...    2   health  services    home   mother
4     GP   F   16       U     GT3  ...    3    other     other    home   father

[5 rows x 12 columns]

### Step 5. Create a lambda function that capitalize strings.

In [0]:
capstring = lambda x : x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [51]:
first_df['Mjob'].apply(capstring)

0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object

In [52]:
first_df['Fjob'].apply(capstring)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [53]:
first_df.iloc[-1]

school           MS
sex               M
age              19
address           U
famsize         LE3
Pstatus           T
Medu              1
Fedu              1
Mjob          other
Fjob        at_home
reason       course
guardian     father
Name: 394, dtype: object

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [0]:
first_df['Mjob']=first_df['Mjob'].apply(capstring)
first_df['Fjob']=first_df['Fjob'].apply(capstring)

In [55]:
first_df.iloc[-1]

school           MS
sex               M
age              19
address           U
famsize         LE3
Pstatus           T
Medu              1
Fedu              1
Mjob          Other
Fjob        At_home
reason       course
guardian     father
Name: 394, dtype: object

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [56]:
df['age'].unique()

array([18, 17, 15, 16, 19, 22, 20, 21])

In [0]:
def majority(x):
  if x>17:
    return True
  else:
    return False

first_df['legal_drinker']=first_df.age.apply(majority)

In [58]:
first_df.head()

  school sex  age address  ...      Fjob  reason  guardian  legal_drinker
0     GP   F   18       U  ...   Teacher  course    mother           True
1     GP   F   17       U  ...     Other  course    father          False
2     GP   F   15       U  ...     Other   other    mother          False
3     GP   F   15       U  ...  Services    home    mother          False
4     GP   F   16       U  ...     Other    home    father          False

[5 rows x 13 columns]

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [0]:
def mul_num(x):
  if type(x) is int:
    return x*10
  else:
    return x

In [63]:
first_df.applymap(mul_num).head()

  school sex  age address  ...      Fjob  reason  guardian  legal_drinker
0     GP   F  180       U  ...   Teacher  course    mother           True
1     GP   F  170       U  ...     Other  course    father          False
2     GP   F  150       U  ...     Other   other    mother          False
3     GP   F  150       U  ...  Services    home    mother          False
4     GP   F  160       U  ...     Other    home    father          False

[5 rows x 13 columns]