# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [0]:
crime=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")

In [12]:
crime.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

### Step 4. What is the type of the columns?

In [13]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [14]:
crime['Year'].head()

0    1960
1    1961
2    1962
3    1963
4    1964
Name: Year, dtype: int64

In [0]:
crime['Year']=pd.to_datetime(crime.Year, format="%Y")

In [17]:
crime.dtypes

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Step 6. Set the Year column as the index of the dataframe

In [0]:
crime.set_index('Year', drop=True, inplace=True)

In [19]:
crime.head()

            Population    Total  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175  3384200  ...        1855400         328200
1961-01-01   182992000  3488000  ...        1913000         336000
1962-01-01   185771000  3752200  ...        2089600         366800
1963-01-01   188483000  4109500  ...        2297800         408300
1964-01-01   191141000  4564600  ...        2514400         472800

[5 rows x 11 columns]

### Step 7. Delete the Total column

In [0]:
crime.drop('Total', axis=1, inplace=True)

In [21]:
crime.head()

            Population  Violent  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175   288460  ...        1855400         328200
1961-01-01   182992000   289390  ...        1913000         336000
1962-01-01   185771000   301510  ...        2089600         366800
1963-01-01   188483000   316970  ...        2297800         408300
1964-01-01   191141000   364220  ...        2514400         472800

[5 rows x 10 columns]

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [0]:
crimes=crime.resample('10AS').sum()

In [24]:
crimes.head()

            Population   Violent  ...  Larceny_Theft  Vehicle_Theft
Year                              ...
1960-01-01  1915053175   4134930  ...       26547700        5292100
1970-01-01  2121193298   9607930  ...       53157800        9739900
1980-01-01  2371370069  14074328  ...       72040253       11935411
1990-01-01  2612825258  17527048  ...       77679366       14624418
2000-01-01  2947969117  13968056  ...       67970291       11412834

[5 rows x 10 columns]

In [0]:
crimes.Population=crime['Population'].resample('10AS').max()

In [26]:
crimes.head()

            Population   Violent  ...  Larceny_Theft  Vehicle_Theft
Year                              ...
1960-01-01   201385000   4134930  ...       26547700        5292100
1970-01-01   220099000   9607930  ...       53157800        9739900
1980-01-01   248239000  14074328  ...       72040253       11935411
1990-01-01   272690813  17527048  ...       77679366       14624418
2000-01-01   307006550  13968056  ...       67970291       11412834

[5 rows x 10 columns]

### Step 9. What is the mos dangerous decade to live in the US?

In [27]:
crimes.idxmax(axis=0)

Population           2010-01-01
Violent              1990-01-01
Property             1990-01-01
Murder               1990-01-01
Forcible_Rape        1990-01-01
Robbery              1990-01-01
Aggravated_assault   1990-01-01
Burglary             1980-01-01
Larceny_Theft        1990-01-01
Vehicle_Theft        1990-01-01
dtype: datetime64[ns]